image:
  repository: ${{ secrets.DOCKER_USERNAME }}/time-devops-project
  tag: 3875eaf
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false

serviceAccount:
  create: false
  name: ""

autoscaling:
  enabled: false
