name: Time DevOps Project Pipeline

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: docker build -t time-devops-project/mikeproject:${{ env.SHORT_SHA }} .

      - name: Push Docker Image
        run: docker push marckdocker/time-devops-project:${{ env.SHORT_SHA }} docker push marckdocker/time-devops-project:tagname

